<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-nav-wrap">
          <ul>
            <li [routerLink]="['products']" routerLinkActive="active"><a>Продукты</a></li>
            <li [routerLink]="['registration']" routerLinkActive="active"><a>Регистрация</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrap">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo">
            <ng-content select=".site-logo"></ng-content>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search">
            <input class="search__input" (input)="searchBy($event)"
              placeholder="Более 1000 товаров" type="text">
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
          <app-cart></app-cart>
        </div>
      </div>
    </div>
  </div>
</header>
