<app-header [logo]="appLogo" (search)="text = $event">
  <img [src]="appLogo" alt="logo" class="site-logo" #imgLogo>
</app-header>
<section class="main">
  <div class="container">
    <div class="row" *ngIf="(products$ | async) as products; else loadingGif">
      <app-card  *ngFor="let product of products | productsFilter:text; index as i; odd as isOdd"
        [product]="product"
        [position]="i+1"
        [isOdd]="isOdd"
      ></app-card>
    </div>
  </div>
</section>

<ng-template #loadingGif>
  ...loading
</ng-template>

