<section class="main registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-wrapper">
          <h1>Регистрация</h1>
          <form action="">
            <label class="input-wrapper no-valid">
              <span>Ваше имя</span>
              <input type="text">
              <div class="valid-message">Введите корректное имя</div>
            </label>
            <label class="input-wrapper">
              <span>Ваша фамилия</span>
              <input type="text">
            </label>
            <label class="input-wrapper">
              <span>Ваш e-mail</span>
              <input type="email">
            </label>
            <label class="input-wrapper">
              <span>Пароль</span>
              <input type="password">
            </label>
            <div class="btn-wrapper">
              <button>Зарегистрироваться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="textContainer">
    <div class="container">
      <div class="row">
        <h3 class="textContainer__header">Интернет магазин отделки и декора интерьеров <span>GLUTS</span></h3>

        <p class="textContainer__paragraph">Мы рады приветствовать Вас на сайте компании «Глатс». У нас существует огромный ассортимент продукции
          для насыщения интерьера
          и выгодные условия для заказчиков, архитекторов и дизайнеров. Мы можем предложить Вашему вниманию
          все необходимое для создания
          изысканного, уникального интерьера: обои, текстиль, аксессуары, ковры, мебель и светильники и многие
          другие предметы интерьера. У нас
          Вы найдете эксклюзивные обои известных европейских и американских брендов: шелковые обои от Paul
          Mongomery, изысканные бумажные обои от Sanderson , Zoffany и Morris &Co, английские обои ручной
          работы от Fromental , высококачественные обои необычного дизайна PierreFrey ,
          инновационные обои Marburg</p>
      </div>
    </div>
  </div>
</section>
